<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>测试页面</title>
  <meta name="author" content="messi20133">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    * {
      padding: 0px;
      margin: 0px;
    }
    html {
      height: 100%;
    }
    body {
      height: 100%;
    }
    .container {
      height: 100%;
      width: 400px;
      margin: 0 auto;
      background: url(https://imagelx.yidianzixun.com/static/CmcRYlzG3HGAETseAACatomalOo395/45813956.jpg);
      background-size: cover;
    }
    .form-container{
      padding: 20px;
      padding-top: 300px;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <div id="app">
        <el-form :model="formInline" label-width="100px">
          <el-form-item label="测试人员姓名">
            <el-input v-model="formInline.user" placeholder="姓名"></el-input>
          </el-form-item>
          <el-form-item label="测试人员电话">
            <el-input v-model="formInline.telephone" placeholder="电话"></el-input>
          </el-form-item>
          <div style="text-align: center">
            <el-button type="primary"><span onclick="LXLOG.sendLog(11)">提交</span></el-button>
          </div>
        </el-form>
      </div>
    </div>
  </div>
  <!--

    <div id="app">
      <el-button @click="visible = true">Button</el-button>
      <el-dialog :visible.sync="visible" title="Hello world">
        <p>Try Element</p>
      </el-dialog>
    </div>
  -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return { 
          formInline: {
            user: null,
            telephone: null
          }
        }
      }
    });
  </script>
  <script src="https://jcslx.yidianzixun.com/static/CmcRYlzCzSyEfP7kAAAAAAAAAAA0778/ydlx_v001.js"></script><script>;LXLOG.addParams({"k":"11,1046,H5联调测试,4,698383226"})</script>
</body>
</html>